<div class="md:h-screen">
  <section id="search-container" class="border-b border-neutral-700 p-2">
    <%= render partial: "searchbar" %>
  </section>
  <section id="create-post">
    
  </section>
  <section id="post-list" class="p-2 text-white">
    <h1>Posts</h1>

    <%= link_to "New post", new_post_path %>
      <div>
        <% @posts.each do |post| %>
      <div>
        <%= link_to post.content, post %>
      </div>
    <% end %>
  </section>
</div>